
@use 'variables' as *;
@use 'mixins' as *;

@include font-face('Inter', '../fonts/Inter.woff2');
@include font-face('SportingGrotesque', '../fonts/SportingGrotesque.woff2');
@include font-face('Inter-Light', '../fonts/Inter-Light.woff2');
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  background-color: #f1f1f1;
}


.container {
  @include container;
}

.section-margin {
  margin: auto;
  margin-top: 72px; 


  @include tablet {
    margin-top: 128px; 
  }

  @include desktop {
    margin-top: 128px; 
  }

  @include large-desktop {
    margin-top: 256px; 
  }
}