
@use 'variables' as *;
@use 'mixins' as *;

@include font-face('Inter', '../fonts/Inter.woff2');
@include font-face('SportingGrotesque', '../fonts/SportingGrotesque.woff2');


html {
  /* Предотвращает изменение viewport при скролле на мобилках */
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  height: 100%;
  overflow-x: hidden;
  
  /* Предотвращает зум при двойном тапе на мобилках */
  touch-action: manipulation;
}

.container {
  @include container;
}

.section-margin {
  margin: auto;
  margin-top: 72px; 


  @include tablet {
    margin-top: 128px; 
  }

  @include desktop {
    margin-top: 128px; 
  }

  @include large-desktop {
    margin-top: 256px; 
  }
}