
@use 'variables' as *;
@use 'mixins' as *;

.header {
    position: relative;
}

.header__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease, 
                backdrop-filter 0.3s ease, 
                box-shadow 0.3s ease;
  
    .container {
        transition: padding 0.3s ease;
    }
  
    .header__logo svg {
        transition: width 0.3s ease, height 0.3s ease;
    }
  
    &.scrolled {
        background-color: $color-header-bg;
    }
  
    &.compact {
        background-color: #f1f1f1;
        
        @include mobile {
            .container {
                padding: 24px;
            }

            .header__logo svg {
                width: 97px;
                height: 37px;
            }
        }
        .header__logo svg {
            width: 97px;
            height: 37px;
            fill: $color-black;
            color: $color-black;
            position: relative;
            z-index: 1234567;

        }

        .header__mobile-menu span {
            background-color: $color-black;
        }
        
    }
}
  

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &.active {
        .header__logo svg {
            fill: $color-white !important;
            color: $color-white !important;
            position: relative;
            z-index: 1234567;
        }
    }
}

.header__logo {
    position: relative;
    
    svg {
        width: 130px;
        height: 49px;
        
        @include mobile {
            width: 97px;
            height: 37px;
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 24px;
    transition: all 0.3s ease-in-out;

    a{
        color: $color-white;
    }
    
    @include mobile {
        display: none;
    }

}

.header__nav-item {
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.header__mobile-menu {
    display: none;
    position: relative;
    
    @include mobile {
        display: block;
    }
    
    .header__top.compact & {
        display: block;
    }
}

.header__mobile-dropdown {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    padding: 95px 24px 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    
    @supports (-webkit-touch-callout: none) {
        height: 100vh;
        min-height: 100vh;
        max-height: 100vh;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @supports not (-webkit-touch-callout: none) {
            height: 100vh;
            min-height: 100vh;
            max-height: 100vh;
        }
    }
    
    
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        .header__logo svg {
            fill: white !important;
            color: white !important;
        }

        @include mobile {
            justify-content: flex-end;
        }

        @include tablet {
            justify-content: flex-end;
        }
        
    }

    // Desktop full-screen layout
    @include desktop {
        padding: 120px 80px 60px;
        display: grid;
        grid-template-columns: minmax(360px, 520px) 1fr;
        column-gap: 80px;
        align-content: start;
        min-height: 100vh;
    }

    @include large-desktop {
        padding: 140px 0 80px;
        display: grid;
        grid-template-columns: minmax(360px, 520px) 1fr;
        column-gap: 120px;
        align-content: start;
        min-height: 100vh;
    }
    
}

.header__mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    // Place navigation on the right for desktop
    @include desktop {
        grid-column: 2;
        align-items: flex-start;
        justify-self: end;
        gap: 36px;
        margin: 0;
        
    }

    @include large-desktop {
        gap: 40px;
    }
}

.header__mobile-nav-item {
    color: $color-white;
    text-decoration: none;
    font-family: $font-title;
    font-size: 42px;
    font-weight: 500;
    transition: opacity 0.3s ease;
    
    &:hover {
        opacity: 0.7;
    }

    @include large-desktop {
        font-size: 86px;
        line-height: 1.1;
    }

    @include desktop {
        font-size: 86px;
        line-height: 1.11;
    }

    @include mobile {
        font-size: 32px;
    }

}

.header__mobile-left-column {
    // Left column on desktop

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include desktop {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 80px;
    }
}

.header__mobile-block {
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.header__mobile-block--contacts {
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

.header__mobile-block--description {
    @include desktop {
        gap: 20px;
    }
}

.header__mobile-social {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

    @include desktop {
        margin-bottom: 0;
        gap: 20px;
        justify-content: center;
    }

    a {
        display: block;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.7;
        }

        svg {
            width: 40px;
            height: 40px;

            @include desktop {
                width: 50px;
                height: 50px;
            }
        }
    }

    @include mobile {
        margin-bottom: 24px;
    }
}

.header__mobile-contact {
    margin-bottom: 32px;

    @include desktop {
        margin-bottom: 0;
    }

    @include mobile {
        margin-bottom: 24px;
    }
}

.header__mobile-contact-item {
    margin-bottom: 15px;
    
    a {
        color: $color-white;
        text-decoration: none;
        font-size: 18px;
        opacity: 0.8;
        transition: opacity 0.3s ease;
        
        &:hover {
            opacity: 1;
        }
    }
}

.header__mobile-description {
    display: flex;
    flex-direction: column;
    p {
        color: $color-white;
        font-size: 18px;
        margin: 0 0 30px 0;
        opacity: 0.8;
        line-height: 1.4;
    }

    @include desktop {
        margin-top: 0;
        max-width: 420px;
        text-align: center;
    }
}

.header__mobile-cta {
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    width: 100%;
    height: 70px;
    
    &:hover {
        background: $color-white;
        color: $color-black;
    }

    @include desktop {
        width: auto;
        font-size: 20px;
    }

    @include mobile {
        height: 50px;
    }
}

.header__mobile-burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    
    &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
    }
    
    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        transition: all 0.3s ease;
    }
    
    &.active {
        span:first-child {
            transform: rotate(45deg) translate(3px, 3px);
            background-color: $color-white;
        }
        
        span:last-child {
            transform: rotate(-45deg) translate(3px, -3px);
            background-color: $color-white;
        }
    }
}

.header__projects-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.header__hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 14px;
    transition: all 0.3s ease;
    
    span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-light-gray;
        transition: all 0.3s ease;
        transform-origin: center;
    }
    
    &.active {
        transform: rotate(90deg);
    }
}

.header__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
    min-width: 200px;
    
    
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.header__dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 14px;
}

.header__dropdown-item {
    a {
        display: block;
        color: $color-light-gray;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
        text-align: left;
        
        &:hover {
            color: $color-white;
        }
    }
}

.header__mobile-logo {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1001;
    
    svg {
        width: 97px !important;
        height: 37px !important;
        fill: $color-white !important;
        color: $color-white !important;
    }

    @include desktop {
        top: 40px;
        left: 40px;
        svg {
            width: 130px !important;
            height: 49px !important;
        }
    }
}

.header__mobile-left-column-container{
    max-height: 600px;
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;

    @include desktop {
        max-height: 600px;
        display: flex;
        flex-direction: row-reverse;
        gap: 200px;
    }

    @include tablet {
        flex-direction: column;
        gap: 40px;
    }

    @include mobile {
        flex-direction: column;
        gap: 45px;
    }
}