@use 'variables' as *;

@mixin mobile {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-sm) and (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 24px 40px;

  @include tablet {
    padding: 24px;
  }

  @include mobile {
    padding: 24px;
  }

  @include large-desktop {
    padding: 24px 0px;
  }

  @include desktop {
    padding: 24px 40px;
  }
}

@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($path) format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin full-height-100vh {
  height: 100%;
}
