// Шрифты
$font-title: 'SportingGrotesque', sans-serif;
$font-main: 'Inter', sans-serif;

// Цвета
$color-black: #080808;
$color-gray: #666666;
$color-light-gray: #a6a6a6;
$color-white: #ffffff;
$color-stroke: #E0E0E0;

// Размеры
$container-width: 1840px;

// Брейкпоинты для медиа-запросов
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1681px;
$breakpoint-xl: 1681px;