// Шрифты
$font-title: 'SportingGrotesque', sans-serif;
$font-main: 'Inter', sans-serif;
$font-main-light: 'Inter-Light', sans-serif;

// Цвета
$color-black: #080808;
$color-gray: #666666;
$color-light-gray: #a6a6a6;
$color-white: #ffffff;
$color-stroke: #E0E0E0;
$color-input: #E0E0E0;
$color-header-bg: #1a1a1a;
$color-input: #cccccc;
$color-footer-nav: #7c7c7c;
$color-footer-bottom: #8d8d8d;

// Размеры
$container-width: 1840px;

// Брейкпоинты для медиа-запросов
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1681px;
$breakpoint-xl: 1682px;