@use '../variables' as *;
@use '../mixins' as *;

.blog-cards__footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    :hover{
        transform: none;
    }


}

.blog-cards__arrow{
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.blog-cards__subtitle{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    text-align: left;
    max-width: 100%;
    font-family: $font-title;
    text-transform: none;

    @include desktop {
        font-size: 30px;
    }

    @include mobile {
        font-size: 24px;
    }
}

.blog-cards__arrow-link{
    display: flex;
    gap: 10px;
    align-items: center;
    color: $color-black;
    font-size: 16px;

    svg{
        flex-shrink: 1;
        width: 16px;
        height: 16px;
    }
}

.blog__mobile-burger{
    span{
        background-color: $color-black;
    }
}


.blog-page-1__container{
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog-page-1__item{
    color: $color-gray;
    line-height: 135%;
}

.blog-page-1__title{
    font-size: clamp(24px, 3vw, 32px);
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    font-family: $font-title;
    margin: 0;
    text-align: left;
    max-width: 100%;
}

.blog-page-1{
    max-width: 600px;
    width: 100%;

    @include tablet {
        padding: 0 24px;
    }

    @include mobile {
        padding: 0 20px;
        margin-top: 128px;
    }
}

.blog-page-1__image{
    display: block;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.blog-page-1__header-container{
    gap: 16px;
}

.concept-case__description-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-page_description-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    font-family: $font-main;
    color: $color-black;
    margin-bottom: 16px;
}

.blog-page-1__title{
    font-weight: 500;
    text-transform: uppercase;
}

.blog-page-1__conclusion{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    width: 100%;
}

.blog-page-1__conclusion-text{
    color: $color-gray;
    font-size: 16px;
    line-height: 135%;
    color: $color-gray;
}

.reverse-order{

    @include tablet {
        flex-direction: column-reverse;
    }

    @include mobile {
        flex-direction: column-reverse;
    }
}

.cards__arrow-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog-cards__footer{
    height: 40%;
}