@use '../variables' as *;
@use '../mixins' as *;

.case-navigation{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
        max-width: 100%;
        padding: 0 24px;
    }
}

.case-navigation__title{
    font-size: clamp(24px, 4vw, 42px);
    font-family: $font-title;
    text-transform: uppercase;
    line-height: 120%;
    margin-bottom: 20px;
}

.case-navigation__item{
    display: flex;
    gap: 10px;
}

.case-navigation__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.case-navigation__text-value{
    color: $color-gray;
    margin-top: 6px;
}

.case-navigation-links{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    
    @include mobile {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 48px;
    }
}

.case-navigation-links__item{
    font-size: 20px;
    color: #BEBEBE;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 16px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        width: calc(50% - 10px);
        margin-top: 0;
    }

    &:hover, &:active{
        color: $color-black;
        border-bottom: 1px solid $color-black;
    }
}



.case-video, .about-case, .concept-case{
    max-width: 1840px;
    padding: 0 40px;

    @include large-desktop {
        padding: 0 0px;
    }

    @include mobile {
        padding: 0 24px;
    }

    @include tablet {
        padding: 0 24px;
    }
}

.case-video__container{
    background-color: #d9d9d9;
    width: 100%;
    height: clamp(327px, 40vw, 900px);
    border-radius: 48px;

    @include mobile {
        border-radius: 24px;
    }
}

.about-case__description{
    color: $color-gray;
}

.about-case-header{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.about-case__title{
    font-size: clamp(24px, 4vw, 42px);
    font-family: $font-title;
    line-height: 120%;
}

.about-case-header__container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mobile {
        gap: 24px;
    }
}

.about-case__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-case-images__image-1{
    display: block;
    width: 100%;
    max-width: 290px;
    min-width: 210px;

    @include mobile {
        max-width: 100%;
        max-height: 250px;
    }

    @include tablet {
        max-width: 100%;
        max-height: auto;
    }
}

.about-case-images__image-2{
    display: block;
    width: 100%;
    max-width: 900px;
    min-width: 400px;

    @include mobile {
        max-width: 100%;
        max-height: 250px;
        min-width: unset;
    }

    @include tablet {
        max-width: 100%;
    }
}

.about-case-images{
    display: flex;
    gap: 20px;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}

.about-case{
    display: flex;
    gap: 20px;  
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}

.concept-case__image{
    display: block;
    width: 100%;
    max-width: 900px;
    min-width: 400px;

    @include mobile {
        max-width: 100%;
        max-height: 250px;
        min-width: unset;
    }

    @include tablet {
        max-width: 100%;
        min-width: unset;
    }
}

.concept-case-content__container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    width: 100%;
}

.concept-case-header__container{
    max-width: 595px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mobile {
        gap: 20px;
    }
}

.concept-case{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }
    
    @include tablet {
        flex-direction: column;
    }
}

.concept-case__description{
    color: $color-gray;
}

.concept-container{
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @include mobile {
        flex-direction: column;
    }
    
    @include tablet {
        flex-direction: column;
    }
}

.concept-case__image-2{
    display: block;
    width: 100%;
}

.challenge-case{
    max-width: 1840px;
    padding: 0 40px;

    @include mobile {
        padding: 0 24px;
    }

    @include tablet {
        padding: 0 24px;
    }

    @include large-desktop {
        padding: 0 0px;
    }
}

.challenge-case-header__container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mobile {
        gap: 24px;
    }
}

.challenge-case__description{
    color: $color-gray;
}

.challenge-case-images{
    display: flex;
    gap: 20px;
    margin-top: 20px;

    img{
        display: block;
        width: 100%;
        max-width: 49%;
        

        @include large-desktop {
            max-width: 900px;
        }

        @include tablet {
            max-width: 600px;
        }
    }

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}

.design-case{
    max-width: 1840px;
    padding: 0 40px;

    @include mobile {
        padding: 0 24px;
    }

    @include large-desktop {
        padding: 0 0px;
    }
}

.design-case-images-2{

    
    margin-top: 20px;
    
    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}

.design-case-images-2, .design-case-images-2__item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.design-case-images-2__item{
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}

.design-case__image-2{
    max-height: 445px;
    display: block;
}

.design-case-images-3__description{
    max-width: 600px;
    width: 100%;

    margin: auto;

    @include desktop {
        max-width: 500px;
    }
}

.design-case__image-3, .design-case__image-4, .design-case__image-5, .design-case__image-6{
    display: block;
    width: 100%;
    height: 100%;
}

.design-case__image-3{
    margin-top: 48px;
}

.design-case-images-3__item{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    height: 1200px;
    margin-top: 20px;

    @include mobile {
        flex-direction: column;
        height: auto;
    }

    @include tablet {
        flex-direction: column;
        height: auto;
    }
}

.design-case-images-3__item-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.design-case__image-4{
    min-width: 500px;

    @include mobile {
        min-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include tablet {
        min-width: 100%;   
        object-fit: cover;
        object-position: center;
    }
}

.case-page-main{
    @include mobile {
        img{
            max-height: 327px !important;
            min-height: 327px !important;
        }
    }

}

.design-reverse-flex{
    @include mobile {
        flex-direction: column-reverse;
    }

    @include tablet {
        flex-direction: column-reverse;
    }
}

.challenge-case-align{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
        align-items: unset;
    }

    @include tablet {
        align-items: unset;
    }
}

